body {
    background-color: #f5e7c1 !important;
}

.homeCard {
    background-color: #fffdf3 !important;

}

.homeCardHeader {
    background-color: #EABF9F !important;
    color: #fbfbfb !important;
}

.homeCardBorder {
    border: 1px solid #B68973 !important;

}