.bg {
    background-color: #f5e7c1;
}

.kanjiCard {
    background-color: #fffdf3 !important;

}

.kanjiCardHeader {
    background-color: #EABF9F !important;
}

.kanjiCardBorder {
    border: 1px solid #B68973 !important;
}

.kanjiCardBorderSuccess {
    border: 1px solid #B68973 !important;
}

.kanjiCardBorderFail {
    border: 1px solid #B68973 !important;
}

.kanjiCardBody {
    color: #9f6d54 !important;
}

.floatingButtonKanji {
    position: fixed;
    bottom: 2vh;
    right: 1vw;
    border: 1px solid #B68973 !important;
}

.buttons {
    background-color: #ffffff !important;
    font-size: small !important;
    width: 25% !important;
    color: #9f6d54 !important;
    border: 1px solid #B68973 !important;
}

.buttons:hover {
    background-color: #EABF9F !important;
    width: 25% !important;
    color: #ffffff !important;
    border: 1px solid #B68973 !important;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #EABF9F !important;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #EABF9F !important;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #EABF9F !important;
}

.pagination {
    --bs-pagination-color: #B68973 !important;
    --bs-pagination-bg: #fffdf3 !important;
    --bs-pagination-border-color: #B68973 !important;
    --bs-pagination-hover-color: #fffdf3 !important;
    --bs-pagination-hover-bg: #EABF9F !important;
    --bs-pagination-hover-border-color: #B68973 !important;
    --bs-pagination-focus-color: #B68973 !important;
    --bs-pagination-focus-bg: #EABF9F !important;
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem #b689732c !important;
    --bs-pagination-active-color: #fffdf3 !important;
    --bs-pagination-active-bg: #EABF9F !important;
    --bs-pagination-active-border-color: #B68973 !important;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: #B68973 !important;
    padding-left: 0;
}

.priorityButtons {
    background-color: transparent !important;
    color: #B68973 !important;
    border: 1px solid #EABF9F !important;
}

.priorityButtonsAdd:hover {
    background-color: #3ccd4d22 !important;
    color: #3ccd4d !important;
    border: 1px solid #3ccd4d !important;
}

.priorityButtonsRemove:hover {
    background-color: #c2242422 !important;
    color: #c22424 !important;
    border: 1px solid #c22424 !important;
}

.priorityButtonsSubtract:hover {
    background-color: #c2782422 !important;
    color: #c27824 !important;
    border: 1px solid #c27824 !important;
}